inventories/*
.vault_pass.txt
.hints/
api/.venv/
__pycache__/
generated/
!inventories/generated/
inventories/generated/*
!inventories/generated/group_vars/
inventories/generated/group_vars/*
!inventories/generated/group_vars/all/
inventories/generated/group_vars/all/*
!inventories/generated/group_vars/all/main.yml
!inventories/generated/group_vars/all/vault.example.yml
.env
