{
  "$schema": "https://opencode.ai/config.json",
  "model": "ollama/{{ opencode_agent_model }}",
  "provider": {
    "ollama": {
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "{{ opencode_agent_ollama_url }}"
      },
      "models": {
        "{{ opencode_agent_model }}": {}
      }
    }
  }
}
