Unattended-Upgrade::Origins-Pattern {
        "origin=${distro_id},codename=${distro_codename},label=${distro_id}";
        "origin=${distro_id},codename=${distro_codename},label=${distro_id}-Security";
        "origin=${distro_id}ESMApps,codename=${distro_codename},label=${distro_id}ESMApps";
        "origin=${distro_id}ESM,codename=${distro_codename},label=${distro_id}ESM";
};

Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Automatic-Reboot "false";
