CAGENT_API_URL={{ cagent_client_api_url }}
CAGENT_CA_CERT={{ cagent_client_ca_cert_dest }}
CAGENT_CLIENT_CERT={{ cagent_client_node_cert }}
CAGENT_CLIENT_KEY={{ cagent_client_node_key }}
CAGENT_POLL_INTERVAL={{ cagent_client_poll_interval }}
CAGENT_POLL_MAX={{ cagent_client_poll_max }}
