{% set source = autolab_node_plane_credentials_source %}
{% for key in [
  'PLANE_URL',
  'PLANE_API_KEY',
  'PLANE_WORKSPACE_SLUG',
  'PLANE_PROJECT_ID',
  'PLANE_STATE_BACKLOG_ID',
  'PLANE_STATE_READY_ID',
  'PLANE_STATE_IN_PROGRESS_ID',
  'PLANE_STATE_DONE_ID',
  'PLANE_STATE_CANCELLED_ID'
] %}
{{ key }}={{ lookup('ansible.builtin.ini', key ~ ' type=properties file=' ~ source) | trim | to_json }}
{% endfor %}
