{% set source = agag_agent_plane_credentials_source %}
{% for key in ['PLANE_URL', 'PLANE_API_KEY', 'PLANE_WORKSPACE_SLUG'] %}
{{ key }}={{ lookup('ansible.builtin.ini', key ~ ' type=properties file=' ~ source) | trim | to_json }}
{% endfor %}
